.about {
    
    &-motto {

        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 2rem;
        }

        h2 {
            text-transform: uppercase;
            margin: 0 .5rem;
            font-weight: 500;
            text-align: center;
        }
    }

    p {
        text-align: center;
        margin: 1rem 0;
    }
    span {
        margin: 0 1rem;
        text-transform: uppercase;
    }

    @media screen and (min-width: 639px) {
        margin-top: 2rem;
    }
}