.contact {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;

    h2 {
        margin: 1rem 0;
        font-weight: 600;
        text-transform: uppercase;
    }
   
    &-links {

        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;

        a {
            margin: 0 1rem;
        }
        
        img {
            height: 2rem;
        }
    }
}