.features {
    margin: 3rem 0 0 0;

    img {
        height: 3rem;
        margin-right: 1rem;
    }

    span {
        margin: 1.5rem 0;
        display: flex;
        align-items: center;
    }

    .description {
        h2 {
            text-transform: uppercase;
            color: $primary-purple;
            font-weight: 600;           
        }

        p {
            margin: .5rem 0;
        }
    }

    @media screen and (min-width: 767px) {
        margin-top: 4rem;

        img {
            height: 4.2rem;
        }
    }

    @media screen and (min-width: 1023px) {
        display: flex;
        span {
            
        }
    }

    
}