footer {
    background-color: rgb(219, 219, 219);
    margin-top: 4rem;
   
}

.footer {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;

    .address {
        text-align: center;
    }

    .symbol {
        img {
            height: 4rem;
            margin: 1rem 0;
        }
    }

    .contact {
        text-align: center;

        a {
            text-decoration: none;
            color: black;
        }
    }

    @media screen and (min-width: 639px) {
        font-size: 1.2rem;
        flex-direction: row;

        .address {
            text-align: left;
        }

        .symbol {
            img {
                height: 4.5rem;
                margin: 1rem 0;
            }
        }

        .contact {
            text-align: right;
        }
    }
}