.header {
    display: flex;
    flex-direction: column;

    background-image: url('/background.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    //height: 360px;

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0 0 0;
        

        img {
            height: 9rem;
            padding-bottom: 1rem;
            border-bottom: solid $primary-purple 3px;
        }

        h1 {
            padding-top: 1rem;
            text-align: center;
        }
    }

    .motto {

        display: flex;
        justify-content: center;
        margin: 1rem 0 7rem 0;
        
        h2 {
            text-transform: uppercase;
            margin: 0 3px;
        }

    }

    @media screen and (min-width: 639px) {

        .logo {
            margin: 2rem 0 0 0;
        }

        .motto {
            margin: 1rem 0 9rem 0;
        }
    }

    @media screen and (min-width: 810px) {
        .logo {
            margin: 5rem 0 0 0;

            img {
                height: 11rem;
            }
        }

        .motto {
            margin: 2rem 0 12rem 0;
        }
    }

    @media screen and (min-width: 1439px) {
        .logo {
            margin: 5rem 0 0 0;

            img {
                height: 20rem;
            }
        }

        .motto {
            margin: 2rem 0 20rem 0;
        }
    }

}