

.container {


    padding: 0 5% 0 5%;

    @media screen and (min-width: 639px) {
        padding: 0 7.5% 0 7.5%;
    }
    @media screen and (min-width: 767px) {
        padding: 0 10% 0 10%;
    }
    @media screen and (min-width: 1439px) {
        padding: 0 15% 0 15%;
    }
}