
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}

p {
    font-family: 'Quicksand', sans-serif;
    opacity: .9;
}

@media screen and (min-width: 639px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    p {
        font-size: 1.3rem;
    }
}