$primary-yellow: rgb(246, 255, 115);
$primary-blue: rgb(159,202,255);
$primary-purple: rgb(212, 159, 255);
$primary-red: rgb(253,118,118);





.yellow-1 {
    color: $primary-yellow;
}

.blue-1 {
    color: $primary-blue;
}

.purple-1 {
    color: $primary-purple;
}

.red-1 {
    color: $primary-red;
}

.sh-1 {
    filter: drop-shadow(0px 2px 3px rgba(100, 100, 100, 0.5));
}